<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.deal.mapper.CategoryMapper">
    <select id="queryall" resultType="com.bobo.deal.bean.Category">
        select * from category
    </select>
    <select id="queryByid" resultType="com.bobo.deal.bean.Reclassify">
        select * from reclassify where cid=#{id}
    </select>
</mapper>