<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.deal.mapper.CommentMapper">
    <select id="getComment" resultType="com.bobo.deal.bean.Comment">
        select a.stars ,a.context,a.comitTime,b.nickname,b.head_portrait from comment as a
        left join user as b on a.uid=b.user_id
        where a.product_id = #{product_id}
        order by a.comitTime desc limit #{start},#{count}
    </select>

    <select id="getCommentCount" resultType="integer">
        select count(*) from comment where product_id = #{product_id}
    </select>
</mapper>