<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.deal.mapper.UniversityMapper">
    <select id="getNameById" resultType="com.bobo.deal.bean.University">
        select university from university where id=#{id}
    </select>
    <insert id="AddUniversity">
        insert into university set university=#{university},url=#{url},status=0
    </insert>
    <select id="getAll" resultType="com.bobo.deal.bean.University">
        select * from university where status=1
    </select>
</mapper>