<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.deal.mapper.UserMapper">
    <insert id="UserRegister" useGeneratedKeys="true" keyColumn="user_id">
        insert into user set email=#{email},count=#{count},password=#{password}
    </insert>
    <select id="getByEmail" resultType="com.bobo.deal.bean.User">
        select  * from user where email=#{email}
    </select>
    <update id="setUser">
        update user set nickname=#{nickname},head_portrait=#{head_portrait},real_name=#{real_name},sex=#{sex},
        personalized_signature=#{personalized_signature},qq=#{qq},wechat=#{wechat},count=1
        where user_id=#{user_id}
    </update>
    <update id="setUniversity">
        update user set university_id=#{id} where user_id=#{user_id}
    </update>
</mapper>